<!DOCTYPE html><html lang="ja">
<head>
  <meta charset="UTF-8"><title>Team TeXTeX Main</title>
<link rel = "stylesheet" href = "style.css">
</head>

<body>
  <h1>TeXTeX</h1>
  <article>
  <div class="main">
    <li> 本文 </li>
  </div>
  <div class="sidebar">
    <search>
    <form action="#" class="search-form-5">
      <label><input type="text" placeholder="キーワードを入力"></label>
      <button type="submit" aria-label="検索"></button>
      </form>
    </search>
    <li> サイドバー </li>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
    <p><a href="/team_TeXTeX/">Team TeXTeX トップへ</a></p>
  </div>
  </article>
</body></html>