    @charset "UTF-8";
    
    .main{
      width: 70%;
      height: 100%;
    }
    .sidebar{
    width: 30%;
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
  }
  .search-form-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px; /* 任意の幅に調整してください */
    overflow: hidden;
    border-radius: 3px;
    background-color: #f2f2f2;
  }
  .search-form-5 input {
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-size: 1em;
    outline: none;
  }
  .search-form-5 input::placeholder {
    color: #777777;
  }
  .search-form-5 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    content: '';
  }
  article{
    display: flex;
  }