<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Team Cake - 商品登録</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper teal">
            <div class="container">
                <a href="/team_cake/" class="brand-logo">Team Cake</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/team_cake/" class="btn waves-effect waves-light teal lighten-2">トップ</a></li>
                    <li><a href="/team_cake/registration_goods/"
                            class="btn waves-effect waves-light teal lighten-2">新規追加</a></li>
                </ul>
            </div>
        </div>
    </nav>