<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Cake - 商品登録</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="bg-[#D71718]">
        <div
            class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between h-auto md:h-16 py-2 md:py-0">
            <a href="/team_cake/" class="text-white text-3xl md:text-4xl font-bold mb-2 md:mb-0">Daily Pocket</a>
            <ul class="flex flex-wrap justify-center space-x-2 md:space-x-4">
                <li><a href="{% if is_staff %}/team_cake/admin/{% else %}/team_cake/{% endif %}"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-[#F5E829] text-base font-medium text-black hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#F5E829] sm:ml-3 sm:w-auto sm:text-sm rounded transition">トップ</a>
                </li>
                {% if is_staff %}
                <li><a href="/team_cake/registration_goods/"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-[#F5E829] text-base font-medium text-black hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#F5E829] sm:ml-3 sm:w-auto sm:text-sm rounded transition">新規追加</a>
                </li>
                <li><a href="/team_cake/"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-200 text-base font-medium text-black hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 sm:ml-3 sm:w-auto sm:text-sm rounded transition">客用ページ</a>
                </li>
                {% else %}
                <li><a href="/team_cake/admin/"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-200 text-base font-medium text-black hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 sm:ml-3 sm:w-auto sm:text-sm rounded transition">admin</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>