{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>図書館 - GikaMap</title>
    <link rel="stylesheet" href="{% static 'agileca/css/gikamap.css' %}" />

    <!-- CSSは後からcssファイルに移動 -->
    <style>
      .facility-container {
        display: block;
        margin-top: 1em;
        margin-left: 1em;
      }

      .facility-box {
        margin-bottom: 2em;
      }

      #exterior img {
        padding-left: 1.2em;
      }

      #info {
        margin-bottom: 2em;
      }

      .facility-content {
        margin-bottom: 1.2em;
      }

      .facility-content-title {
        text-decoration: underline;
        display: block;
        margin-bottom: 0.3em;
      }

      .facility-content-description-item-title {
        text-decoration: underline;
      }

      .facility-content-description-item {
        margin-bottom: 0.4em;
      }

      #inner ul li .facility-content-title {
        font-size: 140%;
      }

      #inner ul li img {
        width: 40%;
      }

      .open-row {
        display: flex;
        padding-left: 1em;
      }
      .open-label {
        width: 11em;
      }
      .open-days {
        width: 4em;
      }

      .external-link::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.2em;
        width: 0.9em;
        height: 0.9em;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 24 24'%3E%3Cpath d='M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42 9.3-9.29H14V3z'/%3E%3Cpath d='M5 5h7V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7H5V5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
    </style>
  </head>

  <body>
    <div class="facility-container">
      <!----- 施設名 ----->
      <div class="facility-box" id="title">
        <h1>図書館</h1>
      </div>

      <!----- 施設外観の画像 ----->
      <div class="facility-box" id="exterior">
        <div class="facility-box-title"><h3>施設外観</h3></div>
        <img
          src="{% static 'agileca/img/library/exterior_library.jpg' %}"
          alt="図書館の外観の画像"
          class="exterior-image"
        />
      </div>

      <!----- 施設情報 ----->
      <div class="facility-box" id="info">
        <div class="facility-box-title">
          <h3>施設情報</h3>
        </div>
        <ul>
          <!-- 開館時間 -->
          <li class="facility-content">
            <span class="facility-content-title">開館時間</span>
            <ul class="facility-content-description">
              <!-- 通常開館 -->
              <li class="facility-content-description-item">
                <span class="facility-content-description-item-title"
                  >通常開館</span
                >
                <!-- 通常期間 -->
                <div class="open-row">
                  <span class="open-label">通常期間：</span>
                  <span class="open-days">月～金</span>
                  <span class="open-time">9:00～20:00</span>
                </div>
                <!-- 春季・夏季休業期間 -->
                <div class="open-row">
                  <span class="open-label">春季・夏季休業期間：</span>
                  <span class="open-days">月～金</span>
                  <span class="open-time">9:00～17:00</span>
                </div>
              </li>
              <li class="facility-content-description-item">
                <span class="facility-content-description-item-title"
                  >特別開館（※入館条件あり）</span
                >
                <div class="open-row">
                  通常開館以外の時間（但し、完全休館日や毎月の書架整理日の午前中を除く。）
                </div>
                <div class="open-row">
                  対象者：本学教職員および正規学生。本学研究生などで図書館長の許可を得た者。
                </div>
                <div class="open-row">[備考]</div>
                <div class="open-row">
                  2・3階図書館エリアの特別開館(無人開館)時間帯の利用には<a
                    target="_blank"
                    class="external-link"
                    href="https://lib.tut.ac.jp/guide/guidance.html"
                    >図書館利用ガイダンス</a
                  >の受講とPINコードが必要です。
                </div>
                <div class="open-row">
                  8:30～9:00の間、清掃作業のため入館ゲート内へ入ることができません。（1階はご利用いただけます。）
                </div>
              </li>
            </ul>
          </li>

          <!-- 施設用途 -->
          <li class="facility-content">
            <span class="facility-content-title">サービス一覧</span>
            <ul class="facility-content-description">
              <li class="facility-content-description-item">
                <span
                  >図書・雑誌・視聴覚資料の閲覧・貸出（<a
                    class="external-link"
                    target="_blank"
                    href="https://lib.tut.ac.jp/guidance/annai2.html"
                    >ガイド</a
                  >）</span
                >
              </li>
              <li class="facility-content-description-item">
                <span
                  >図書館内にある資料の検索（<a
                    class="external-link"
                    target="_blank"
                    href="https://lib.tut.ac.jp/search/search_index.html"
                    >OPAC：オンライン資料検索サービス</a
                  >）</span
                >
              </li>
              <li class="facility-content-description-item">
                <span
                  >コピーサービス：プリンタ／大判プリンタの利用（<a
                    class="external-link"
                    target="_blank"
                    href="https://lib.tut.ac.jp/guidance/printer.html"
                    >ガイド</a
                  >）</span
                >
              </li>
              <li class="facility-content-description-item">
                <span
                  >電子ジャーナル・電子ブックサービス（<a
                    class="external-link"
                    target="_blank"
                    href="https://lib.tut.ac.jp/search/ej_index.html"
                    >電子ジャーナル</a
                  >
                  /
                  <a
                    class="external-link"
                    target="_blank"
                    href="https://lib.tut.ac.jp/search/ebook.html"
                    >電子ブック</a
                  >）</span
                >
              </li>
              <li class="facility-content-description-item">
                <span
                  >各種申込サービス：文献複写・他大学からの図書借用、図書購入依頼など（<a
                    class="external-link"
                    target="_blank"
                    href="https://lib.tut.ac.jp/irai/irai_ill.html"
                    >申込サービス</a
                  >）</span
                >
              </li>
              <li class="facility-content-description-item">
                <span
                  >学習・研究用スペースの提供と部屋予約（<a
                    class="external-link"
                    target="_blank"
                    href="https://lib.tut.ac.jp/guidance/room.html"
                    >施設利用</a
                  >）</span
                >
              </li>
              <li class="facility-content-description-item">
                <span>その他、学習・研究活動を支える各種サービスなど</span>
              </li>
            </ul>
          </li>

          <!-- お問い合わせ先 -->
          <li class="facility-content">
            <span class="facility-content-title">お問い合わせ先</span>
            <ul class="facility-content-description">
              <li class="facility-content-description-item">
                <a
                  target="_blank"
                  class="external-link"
                  href="https://lib.tut.ac.jp/guidance/toiawase.html"
                  >図書館お問い合わせページ</a
                >
              </li>
            </ul>
          </li>

          <!-- 外部リンク -->
          <li class="facility-content">
            <span class="facility-content-title"
              >外部リンク・ホームページ等</span
            >
            <ul class="facility-content-description">
              <li class="facility-content-description-item">
                <a
                  target="_blank"
                  class="external-link"
                  href="https://lib.tut.ac.jp/"
                  >図書館ホームページ</a
                >
              </li>
              <li class="facility-content-description-item">
                <a
                  target="_blank"
                  class="external-link"
                  href="https://opac.lib.tut.ac.jp/drupal/ja/library_calendar/annual/6/23"
                  >年間カレンダー</a
                >
              </li>
              <li class="facility-content-description-item">
                <a
                  target="_blank"
                  class="external-link"
                  href="https://lib.tut.ac.jp/guide/guidance.html"
                  >図書館利用ガイダンス</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!----- 施設内地図 ----->
      <div class="facility-box" id="inner">
        <div class="facility-box-title">
          <h3>施設構造</h3>
        </div>
        <ul>
          <!-- 1F -->
          <li class="facility-content" id="1f">
            <span class="facility-content-title">1F</span>
            <img
              src="{% static 'agileca/img/library/map_library_1f.png' %}"
              alt="図書館1Fの地図の画像"
              class="inner-image"
            />
          </li>
          <!-- 2F -->
          <li class="facility-content" id="2f">
            <span class="facility-content-title">2F</span>
            <img
              src="{% static 'agileca/img/library/map_library_2f.png' %}"
              alt="図書館2Fの地図の画像"
              class="inner-image"
            />
          </li>
          <!-- 3F -->
          <li class="facility-content" id="3f">
            <span class="facility-content-title">3F</span>
            <img
              src="{% static 'agileca/img/library/map_library_3f.png' %}"
              alt="図書館3Fの地図の画像"
              class="inner-image"
            />
          </li>
        </ul>

        <!-- <img
          src="{% static 'agileca/img/IMC_floormap_jpn.png' %}"
          alt="IMCの地図の画像"
          class="map-image"
        /> -->
      </div>

      <!---- 戻る(ページ遷移) ---->
      <div class="facility-box" id="page-transition">
        <a href="{% url 'agileca:gikamap' %}">戻る</a>
        <!-- <a href="{% url 'agileca:index' %}">トップに戻る</a> -->
      </div>
    </div>
  </body>
</html>
