{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>事務局 -gikamap</title>
  <link rel="stylesheet" href="{% static 'agileca/css/gikamap.css' %}">
</head>

<body>
  
  <!--事務局の概要-->
  <h1 id="top">事務局</h1>
  <ul>
    <li>8:30～12:00 13:00～17:15<br>（土・日・祝・年末年始及び本学の休業日を除く）</li>
    <li>部局
      <ul>
        <li><a href="#soumu">総務課</a></li>
        <li><a href="#kaikei">会計課</a></li>
        <li><a href="#kenkyu">研究支援課</a></li>
        <li><a href="#shisetsu">施設課</a></li>
      </ul>
    </li>
    <li>用途

      <!--教員と学生別用途-->
      <ul>
        <li>教職員
          <ul>
            <li>会計課
              <ul>
                <li>財務会計事務の手引き（概要、物品等の請求手続き、旅費、謝金、研修、資産管理）</li>
                <li>会計事務手続きに関するFAQ（旅費・謝金・物品購入等関係）</li>
                <li>収入及び支出に関すること</li>
                <li>資金の管理</li>
                <li>資金収支計画，剰余金及び資金の運用</li>
                <li>借入金</li>
                <li>決算に関すること</li>
                <li>特定調達契約</li>
                <li>物品の購入及び役務等契約</li>
                <li>図書等の契約及び支払</li>
                <li>年間契約</li>
                <li>立替払いについて（説明、様式）</li>
                <li>学会参加費について（説明、フロー・具体例、請求書）</li>
                <li>換金の高い物品の取り扱いについて</li>
                <li>出張旅費システム運用と旅費に関すること</li>
                <li>謝金に関すること</li>
                <li>会議費の支出に関すること</li>
                <li>連絡調整等</li>
                <li>物品検収に関すること</li>
                <li>固定資産の管理・除却・移管</li>
                <li>棚卸資産、特許権に関すること</li>
                <li>不要物品一斉廃棄、文書廃棄</li>
                <li>再利用資産に関すること</li>
              </ul>
            </li>
            <li>施設課
              <ul>
                <li>工事契約（入札情報、様式、関係規則）</li>
                <li>講義棟・野球場など大学施設を利用したい（使用料金表，資産貸付許可申請書）※使用する日の1ヶ月前までに申請必要</li>
                <li>鍵の管理（鍵を追加したい，鍵の変更したい，鍵を紛失・破損した）</li>
                <li>警備業務（守衛所）</li>
                <li>清掃業務</li>
                <li>構内で無人航空機（ドローン等）の飛行したい（飛行許可申請書，飛行報告書）</li>
                <li>職員宿舎「高師住宅」に入居したい（入居条件，宿舎貸与申請書）</li>
                <li>非常勤講師宿泊施設「ひばり荘」を利用したい（予約方法，利用料金，館内設備，使用申込書）</li>
                <li>研究者（短期滞在）「宿泊施設ヴィレッジ天伯」に入居したい（手続き方法など，入居申請書，退去届）</li>
                <li>学内建物図面</li>
              </ul>
            </li>
          </ul>
        </li>

        <li>学生
          <ul>
            <li>会計課
              <ul>
                <li>入学料・授業料等の納付に関すること</li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </li>
  </ul>

  <!-- 各課の詳細セクション -->
  <section id="soumu">
    <h2>総務課</h2>
    <p>総務課には、総務係・広報係
      <br>人事労務室として人事係・給与共済係・職員係があります。
      <br>また、以下に関わる業務に携わっています。
    </p>
    <ul>
      <li>大学の総括，秘書，式典，会議，規則，学内外連絡・調整，リスクマネジメント，情報公開・個人情報保護等</li>
      <li>広報，公式Web，オープンキャンパス，大学見学等</li>
      <li>人事計画，職員の雇用・昇任・退職等，名誉教授，人事委員会等</li>
      <li>給与，共済組合，社会保険・雇用保険等</li>
      <li>勤務時間管理（総括），服務，兼業，研修，人事評価，福利厚生，退職手当，栄典・表彰，労務委員会，男女共同参画等
      </li>
    </ul>
    <p><a href="#top">ページトップへ戻る</a></p>
  </section>

  <section id="kaikei">
    <h2>会計課</h2>
    <p>会計課には、財務企画係・財務分析係・出納係
      <br>経理調達室として、契約第一係・契約第二係があります。
      <br>また、以下に関わる業務に携わっています。
    </p>
    <ul>
      <li>財務関連法規，予算</li>
      <li>財務分析</li>
      <li>支出，収入，債権，借入金</li>
      <li>物品・役務の調達，固定資産（機械，装置，工具等）の管理</li>
    </ul>
    <p><a href="#top">ページトップへ戻る</a></p>
  </section>

  <section id="kenkyu">
    <h2>研究支援課</h2>
    <p>研究支援課には、研究支援係・外部資金係・学系係
      <br>
      社会連携支援室として、
      地域連携係・センター支援係・先端融合研究支援チーム・分析支援チーム・
      工作支援チーム・情報基盤支援チーム・総合技術支援チームがあります。
      <br>また、以下に関わる業務に携わっています。
    </p>
    <ul>
      <li>研究戦略，協定，研究者倫理，ライフサイエンス研究</li>
      <li>競争的資金，外部資金，研究員，知的財産，産学官連携</li>
      <li>系，総合教育院支援</li>
      <li>地域連携事業</li>
      <li>研究センター支援</li>
      <li>教育・研究支援、装置等運用支援、大学行事等関係支援、安全衛生管理支援</li>
      <li>事務情報システム運用支援</li>
    </ul>
    <p><a href="#top">ページトップへ戻る</a></p>
  </section>

  <section id="shisetsu">
    <h2>施設課</h2>
    <p>施設課には、施設総括係・安全衛生係
      <br>施設整備室として、建築係・電気係・機械係があります。
      <br>また、以下に関わる業務に携わっています。
    </p>
    <ul>
      <li>工事・役務の予算，調達，固定資産（機械，装置，工具等以外）の管理，職員宿舎</li>
      <li>安全衛生</li>
      <li>施設整備・保全，施設マネジメント</li>
      <li>施設整備・保全，防災施設管理，省エネルギー</li>
    </ul>
    <p><a href="#top">ページトップへ戻る</a></p>
  </section>

  <!-- 事務局マップ -->
  <div>
    <!-- 事務局のマップ画像を挿入 -->
  </div>


  <!--事務局外部リンク-->
  <div>
    <strong>
      外部リンク
    </strong>
    <ul>
      <li><a target="_blank" href="https://www.tut.ac.jp/about/overview/contact.html">問い合わせ先</a></li>
      <li><a target="_blank" href="https://www.tut.ac.jp/office/">事務局 HP</a> ※学内ネットワークに接続している必要があります。</li>
    </ul>

  </div>

  <a href="{% url 'agileca:gikamap' %}">マップに戻る</a>
  <a href="{% url 'agileca:index' %}">トップに戻る</a>
</body>

</html>