{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>福利施設</title>
  <link rel="stylesheet" href="{% static 'agileca/css/gikamap.css' %}">
  <link rel="stylesheet" href="{% static 'agileca/css/welfare.css' %}">
  <link rel="icon" href="{%static 'agileca/img/welfare/agicon.png'%}">
</head>

<body>
  <h1>福利施設</h1>
  <h2>施設内地図</h2>
  <div class = "img-box">
    <img src="{% static 'agileca/img/welfare/welfare_map.png' %}" alt="福利施設外観">
    <a href="#section_dnn" class="btn btn_dnn">食堂</a>
    <a href="#section_cft" class="btn btn_cft">喫茶室</a>
    <a href="#section_shp" class="btn btn_shp">売店</a>
  </div>
  <h2 id="section_dnn">食堂</h2>
  <h3>営業時間</h3>
  <span style="color:#ff0000">イベント等により変更となる場合があります。最新の情報は<a href="https://tut.ac.jp/student/studentlife/structure.html">こちら</a>から確認してください</span><br>
  <br>平日のみ営業
  <ul>
    <li>朝 8:00-9:30</li>
    <li>昼 11:00-13:30</li>
    <li>夕 17:00-19:00</li>
  </ul>
  <h2 id="section_cft">喫茶室</h2>
  <h3>営業時間</h3>
  <span style="color:#ff0000">イベント等により変更となる場合があります。最新の情報は<a href="https://tut.ac.jp/student/studentlife/structure.html">こちら</a>から確認してください</span><br>
  <br>平日のみ営業
  <ul>
    <li>昼 11:00-15:00</li>
  </ul>
  
  <h2 id="section_shp">売店</h2>
  <h3>営業時間</h3>
  <span style="color:#ff0000">イベント等により変更となる場合があります。最新の情報は<a href="https://tut.ac.jp/student/studentlife/structure.html">こちら</a>から確認してください</span><br>
  <br>平日
  <ul>
    <li>10:00-18:00</li>
  </ul>
  土曜日
  <ul>
    <li>11:00-15:00</li>
  </ul>

  

  <h2></h2>
  <h2>ギャラリー</h2>
  <div style="text-align: center;">
    <img src="{% static 'agileca/img/welfare/welfare_out.jpg' %}" alt="福利施設外観">
    <p>福利施設外観</p>
  </div>

  <a href="{% url 'agileca:gikamap' %}">戻る</a>
  <a href="{% url 'agileca:index' %}">トップに戻る</a>
</body>

</html>
