<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      /** @type {import('tailwindcss').Config} */
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              accent: "var(--accent)",
              "background-color": "var(--background-color)",
              "m3syslighton-surface-variant": "var(--m3syslighton-surface-variant)",
              primary: "var(--primary)",
              similar: "var(--similar)",
            },
            fontFamily: {
                jp: ['Noto Sans JP', 'sans-serif'],
            },
          },
        },
        plugins: [],
      };
    </script>
  </head>
  <body>
    {% include "teams/takenoko/Components/header.html" %}
    <div style="position: absolute; margin: 32px;">
      <button type="submit" ><i class="fas fa-arrow-alt-circle-left" style="font-size: 64px; color: #649CE4"></i></button>
    </div>
    <div style="position: relative; width:1120px; margin: 64px auto;"> 
      <div style="position: absolute; display: grid; grid-template-columns: repeat(4, 1fr); gap: 32px;">
        {% include "teams/takenoko/Components/item_card.html" %}
        {% include "teams/takenoko/Components/item_card.html" %}
        {% include "teams/takenoko/Components/item_card.html" %}
        {% include "teams/takenoko/Components/item_card.html" %}
        {% include "teams/takenoko/Components/item_card.html" %}
        {% include "teams/takenoko/Components/item_card.html" %}
        {% include "teams/takenoko/Components/item_card.html" %}
        {% include "teams/takenoko/Components/item_card.html" %}
        {% include "teams/takenoko/Components/item_card.html" %}
        {% include "teams/takenoko/Components/item_card.html" %}
      </div>
    </div>  
    <div style="position: fixed; bottom: 64px; right: 64px;">
      <button type="submit" ><i class="fas fa-plus-circle" style="font-size: 96px; color: #F96796;"></i></button>
    </div>
  </body>
</html>
